@charset "UTF-8";

*{
font-family: Arial, Helvetica, sans-serif;
/*height: 100%;*/
}

body{
background-image: linear-gradient(to right, #9FC131, #DBF227);
}

main{
background-color: #ffffff;
border-radius: 10px;
box-shadow: 5px 5px 15px #61751e9a; 
width: 400px;
padding: 10px;
margin: auto;
}

h1{
color: #D6D58E;
text-align: center;
text-shadow: 1px 1px 2px #686744a4;
}

h2{
color: #005C53;
text-shadow: 1px 1px 3px #003d3775;
}

p{
text-align: justify;
}